<div class="container text-center">
<h1>Saint-Gobain Facade calculator </h1>
<p>Dimension your Saint-Gobain Facade</p>

<p>
  We have <strong><%= @projects.length %></strong> projects on the website on <%= @today%>

</p>

<p>It's awesome </p>

</div>



